body {
	text-align:center;
	margin:0px;
	padding:0px;
}
.box {
	margin:0px auto;
	padding:0px;
	width:1200px;
	height:780px;
	background-color:#366FB4;
	font-family:宋体;
	color:#376092;
	border:2px solid #34537D;
}
.title {
	font-family:宋体;
	color:#376092;
	font-size:31px;
	text-align:center;
	height:70px;
	float:left;
	width:300px;
}
.title p {
	bottom:0px;
}
.title a{
color:#325E84;}
.col {
	font-family:宋体;
	color:#FFFFFF;
	font-size:31px;
	text-align:center;
	width:600px;
	float:left;
}
.col a{
color:#325E84
}
.anw a{
font-family:宋体;
	font-size:17px;
color:#FFFFFF;
}
.shulibox {
	float:left;
	color:#FFFFFF;
	font-family:黑体;
	font-size:22px;
	text-align:center;
	width:8%;
}
.shuli {
	margin:0 20px;
	width:20px;
	line-height:24px;
}
.mapcontroll {
	background-color:#FFFFFF;
	float:left;
	text-align:center;
	width:178px;
	border:1px solid #000000;
	height:510px;
}
.main {
	background-color:#FFFFFF;
	float:left;
	color:#000000;
	font-family:黑体;
	font-size:22px;
	text-align:center;
	width:1200px;
	height:500px;
	border:1px solid #000000;
}
.map {
	background-color:#FFFFFF;
	float:right;
	color:#000000;
	font-family:黑体;
	font-size:22px;
	text-align:center;
	width:1018px;
	height:510px;
	border:1px solid #000000;
}
li {
	list-style:none
}
.rolinList {
	float:right;
	height:auto;
	text-align:left
}
.rolinList li {
	margin-bottom:1px;
}
.rolinList li h2 {
	height:40px;
	background:#fff;
	font-size:15px;
	color:#333;
	cursor:pointer
}
.content {
height:100px;
	height:150px;
		width:175px;
	font-size:14px;
	overflow-y:scroll;
	background:#FAFAFA;
}
.vline {
	font-size:25px;
}
#nav {
	width:600px;
	background:#FFF;
	float:left;
}
#nav ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
#nav li {
	float:left;
	font-weight:bold;
	font-size:28px;
	text-align:center;
}
#nav li a {
	display:block;
	line-height:28px;
	color:#000000;
	text-decoration:none;
}
#nav li a:hover{color:#FFFFFF}
#nav ul li:hover ul li a {
	background:#E1F2F6;
	color:#325E84;
}
#nav ul li:hover ul li a:hover {
	background:#E1F2F6;
	color:#000000;
}
a {
	text-decoration:none;
	color:#FFFFFF;
}
#button {
	cursor:pointer;
}
#overlay {

	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
	display:none;
}
#win {
	position:absolute;
	top:50%;
	left:50%;
	width:400px;
	height:300px;
	background:#fff;
	border:2px solid #E6E6FA;
	margin:-102px 0 0 -202px;
	display:none;
	text-align:left;
	overflow:scroll
}
h2 {
	font-size:12px;
	height:18px;
	text-align:right;
	background:#E3E3E3;
	padding:5px;
	cursor:move;
}
h2 span {
	color:#E6E6FA;
	cursor:pointer;
	background:#fff;
	border:1px solid #E3E3E3;
	padding:0 2px;
}
/* common styling */
/* set up the overall width of the menu div,the font and the margins */
.menu {
	float:left;
	color:#000000;
	background-color:#FFFFFF;
	font-family:黑体;
	font-size:28px;
	width:1200px;
	text-align:left;
}
/* remove the bullets and set the margin and padding to zero for the unordered list */
.menu ul {
	padding:0;
	margin:0;
	list-style-type:none;
}
/* float the list so that the items are in a line and their position relative so that the drop down list will appear in the right place underneath each list item */
.menu ul li {
	float:left;
	position:relative;
	font-size:12px;
}
.menu ul li a,.menu ul li a:visited {
	display:block;
	text-align:center;
	text-decoration:none;
	width:120px;
	height:30px;
	color:#000000;
	border:1px solid #fff;
	border-width:1px 1px 0 0;
	line-height:30px;
	font-size:12px;
}
/* make the dropdown ul invisible */
.menu ul li ul {
	display:none;
}

/* specific to non IE browsers */
/* set the background and foreground color of the main menu li on hover */
.menu ul li:hover a {
	color:#366FB4;
	background:#4FBACA;
}
/* make the sub menu ul visible and position it beneath the main menu list item */
.menu ul li:hover ul {
	display:block;
	position:absolute;
	top:31px;
	left:0;
	width:105px;
}
.exm a:hover{color:red}
/* style the background and foreground color of the submenu links */
.menu ul li:hover ul li a {
	display:block;
	background:#E1F2F6;
	color:#000000;
}

/* style the background and forground colors of the links on hover */
.menu ul li:hover ul li a:hover {
	background:#E1F2F6;
	color:#000000;
}
.color a {
	color:#000000;
}
.copybottom{
height:38px;
float:left;
width:1200px;
}
ul{
list-style:none;
}
.test_ul li{
float:left;
width:125px;
} 
.bn a{color:#000000;}
.tool{
float:left;
width:58px;
height:23px;
background-repeat: no-repeat;
text-align:right;
}
.kx{
float:left;
width:3px;
height:23px;
}
