 body{font-size:19px;align:center;}
 .shang{width:100%;height:50px;margin:0 auto;text-align: center;}
 .youshang{position:absolute;width:60%;height:30px;margin:0 auto;border:0px solid #D2E9FF;top:20px;left:200px;}
 .zhong{width:100%;height:500px;margin:0 auto;}
.zhongzuo{position:fixed;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));top:0px;width:100%;}
.zhongyou{width:100%;height:850px;margin:0 auto;float:right;text-align: center;}
 li{ list-style:none} 
.rolinList{ width:270px; height:auto; margin:20px auto 0 auto; float:left;text-align:left;padding-left:0px;} 
.rolinList li{margin-bottom:5px;} 
.rolinList li h2{ width:70px; height:30px; background:#fff; font-size:14px; line-height:40px; padding-left:20px; color:#333; cursor:pointer;border:1px solid #DADADA} 
.content{ height:auto;width:auto; background:#fff; background:#FAFAFA ;position:absolute;} 
.Field{position:absolute;width:100%;height:60px;margin:0 auto;top:1150px;}
.zhongyou_0{position:absolute;width:100%;height:100%;margin:0 auto;float:right;text-align: center;}
.zhongyou_1{position:absolute;width:100%;height:100%;margin:0 auto;float:right;text-align: center;}
.zhongyou_2{position:absolute;width:100%;height:100%;margin:0 auto;float:right;text-align: center;}
.zhongyou_3{position:absolute;width:100%;height:100%;margin:0 auto;float:right;text-align: center;}
.zhongyou_4{position:absolute;width:100%;height:100%;margin:0 auto;float:right;text-align: center;}
#svgDiv{position:absolute;width:100px;height:100px;margin:0 auto;top:100px;left:450px;}
#magnifier{
 width:238px;
 height:168px;
 position:absolute;
 top:500px;
 left:10px;
 font-size:0;
 border:1px solid #000;
}
#img{
 width:238px;
 height:168px;
}
#Browser{
 border:1px solid #000;
 z-index:100;
 position:absolute;

 background:red;
 
}
#mag{
 width:238px;
 height:168px;
 position:absolute;
 top:500px;
 left:10px;
 font-size:0;
 border:1px solid #000;
 background:red;
}
