BODY {LINE-HEIGHT: 16px; FONT-FAMILY: Arial,Helvetica,sans-serif; FONT-SIZE: 12px}
A {color:#666;}
img{border:0px;}
UL,OL{BORDER-STYLE: none;PADDING:0px; MARGIN:0px;}
#container {MARGIN: 0px auto; WIDTH: 970px}
#introBoxes {POSITION: relative; HEIGHT: 540px}
.introPart {DISPLAY: none}
#introWelcome {DISPLAY: block}
#introNav {POSITION: relative; HEIGHT: 105px}
#introNav #playback LI {PADDING: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px;float:left;}
#introNav #playback A {	BACKGROUND-IMAGE: url(../images/nav-icons.png); TEXT-INDENT: -9000px; MARGIN: 0px 3px 0px 0px; OUTLINE-WIDTH: 0px; WIDTH: 20px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 20px}
#introNav #playback .prev A {BACKGROUND-POSITION: 0px 0px}
#introNav #playback .play A {BACKGROUND-POSITION: 0px -20px}
#introNav #playback .pause {display:none;}
#introNav #playback .pause A {BACKGROUND-POSITION: 0px -60px}
#introNav #playback .next A {BACKGROUND-POSITION: 0px -40px;}
#introNav #playback A:hover {opacity: 0.9}
#timeline {POSITION: absolute; WIDTH: 100%; BACKGROUND: url(../images/timeline.png) no-repeat -10px 0px; HEIGHT: 15px; OVERFLOW: hidden; TOP: 25px; LEFT: 0px}
#timeline .inside {POSITION: relative; WIDTH: 990px; BACKGROUND: url(../images/timeline.png) no-repeat -913px -42px; HEIGHT: 100%}
#introNav UL.nav {POSITION: absolute; MARGIN: 0px; WIDTH: 100%; HEIGHT: 40px; TOP: 45px; LEFT: 0px}
#introNav .nav LI {POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; TOP: 0px; PADDING-TOP: 0px; LEFT: 0px}
#introNav .nav .p1 {LEFT: 60px}
#introNav .nav .p2 {LEFT: 365px;display:none;}
#introNav .nav .p3 {LEFT: 365px;display:none;}
#introNav .nav .p4 {LEFT: 365px;display:none;}
#introNav .nav .p5 {LEFT: 365px}
#introNav .nav .p6 {LEFT: 365px;display:none;}
#introNav .nav .p7 {LEFT: 365px;display:none;}
#introNav .nav .p8 {LEFT: 365px;display:none;}
#introNav .nav .p9 {LEFT: 655px}
#introNav .nav .p10 {LEFT: 365px;display:none;}
#introNav .nav .p11 {LEFT: 365px;display:none;}
#introNav .nav .p12 {LEFT: 870px}
#introNav .nav LI A {OUTLINE-WIDTH: 0px; COLOR: #6e7577; FONT-SIZE: 14px}
#introNav .nav LI A:hover {	COLOR: #525758; TEXT-DECORATION: none}
#introNav .nav LI.active A {COLOR: #383c3d}
#introNav .nav A .point {POSITION: absolute; TEXT-INDENT: -9000px; OUTLINE-WIDTH: 0px; WIDTH: 15px; DISPLAY: block; HEIGHT: 15px; TOP: -20px; LEFT: 0px}
#introNav .nav .p1 .point {	LEFT: 58px}
#introNav .nav .p2 .point {	LEFT: 52px}
#introNav .nav .p3 .point {	LEFT: 33px}
#introNav .nav .p4 .point {	LEFT: 60px}
#introNav .nav .p5 .point {	LEFT: 64px}
.Fiv{position:fixed;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));top:0px;width:100%;left:0px;}
 li{ list-style:none} 
.rolinList{ width:270px; height:auto; margin:20px auto 0 auto; float:left;text-align:left;padding-left:0px;} 
.rolinList li{margin-bottom:5px;} 
.rolinList li h2{ width:70px; height:30px; background:#fff; font-size:14px; line-height:40px; padding-left:20px; color:#333; cursor:pointer;border:1px solid #DADADA} 
.content{ height:270px;width:250px; background:#fff; background:#FAFAFA ;position:absolute;} 

